#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input{
  margin-top: 15px;
}

button{
  margin-top: 15px;
}

.light-mode {
  background-color: #ffffff;
  color: #213547;
}

.dark-mode {
  background-color: #27282b;
  color: #ffffff;
}

.light-mode button{
  color: #000000;
  background-color: #ffffff;
  border: #000000 solid 1px;
}

.dark-mode button{
  color: #dfdcdc;
  border: #000000 solid 1px;
}

